---
// src/components/Hero.astro

import Countdown from "./Countdown.astro";
---

<section
    id="home"
    class="flex items-center justify-center bg-cover bg-center bg-no-repeat pt-32 pb-16"
    style="background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)), url('/assets/bg-img-hack.jpg');"
>
    <div class="flex flex-col items-center text-center">
        <!-- Logo -->
        <img src="/assets/logo-start-hack-phone.svg" alt="ROAD TO START HACK" class="p-4 mb-6" />

        <!-- Title -->
        <h3 class="text-3xl md:text-4xl font-bold text-white mb-6">
            Emprende, Innova y llega a <a class="text-[#34E1B8]">¡SUIZA!</a>
        </h3>

        <h2 class="text-3xl md:text-2xl font-bold text-white mb-6">Compite por un premio de 10,000 francos suizos</h2>
        <!-- Countdown -->
        <Countdown />

        <!-- Date and Time -->
        <div class="mb-6 text-center text-white flex flex-row items-center gap-3">
            <p class="text-lg">
                <i class="fa fa-calendar"></i> 21 de Febrero 2025
            </p>
            <p class="text-lg">
                <i class="fa fa-clock"></i> 08:00 - 21:00
            </p>
        </div>

        <!-- Location -->
        <div class="mb-6 text-center flex flex-col items-center">
            <a class="text-lg text-[#34E1B8] hover:underline mb-2">
                <i class="fa fa-map-marker"></i> Quito, Ecuador
            </a>

            <a class="text-lg text-[#34E1B8] hover:underline">
                <i class="fa fa-map-marker"></i> Guayaquil, Ecuador
            </a>
        </div>

        <!-- Buttons -->
        <div class="flex space-x-4 mb-6">
            <a href="#register" class="px-6 py-3 bg-white text-black rounded-lg hover:bg-gray-200 transition font-bold"
                >REGISTRARME AHORA</a
            >
        </div>

        <!-- Call to Action -->
        <p class="text-lg text-white">
            <i class="fa fa-rocket"></i> Forma parte del hackathon más grande del Ecuador
        </p>
    </div>
</section>
