<section id="register" class="py-20 bg-gray-50 text-center">
    <div class="container mx-auto px-6">
        <!-- Title -->
        <div class="mb-10">
            <h2 class="text-3xl font-bold text-gray-900">Registro</h2>
            <p class="text-gray-600 mt-2">Inscríbete para formar parte del evento.</p>
        </div>
        <!-- Form Embed -->
        <script src="https://www.cognitoforms.com/f/seamless.js" data-key="uXUozd8FPUuvgy0uT-T7dA" data-form="59"
        ></script>
    </div>
</section>
