
<!-- Partners Section -->
<section id="sponsors"  class="py-10 bg-black flex justify-center">
    <div class="swiper partners-carousel w-full max-w-screen-lg mx-6">
      <div class="swiper-wrapper">
        <!-- Slide 1 -->
        <div class="swiper-slide flex justify-center items-center h-40">
          <a href="#">
            <img src="./assets/startquito-blanco.png" alt="StartQuito" class="logo-size1 object-contain">
          </a>
        </div>
        <!-- Slide 2 -->
        <div class="swiper-slide flex justify-center items-center h-40">
          <a href="https://www.usfq.edu.ec/es">
            <img src="./assets/logousfqblanco.png" alt="USFQ" class="logo-size1 object-contain">
          </a>
        </div>
        <!-- Slide 3 -->
        <div class="swiper-slide flex justify-center items-center h-40">
          <a href="https://www.startupgrind.com/quito/">
            <img src="https://camaraemprendimiento.ec/assets/orgbn/11.png" alt="Startup Grind" class="logo-size object-contain">
          </a>
        </div>
        <!-- Slide 4 -->
        <div class="swiper-slide flex justify-center items-center h-40">
          <a href="https://camaraemprendimiento.ec/">
            <img src="./assets/logoblancocej2.png" alt="CEJ" class="logo-size object-contain">
          </a>
        </div>
        <!-- Repeat Slides for Loop Effect -->
        <div class="swiper-slide flex justify-center items-center h-40">
          <a href="#">
            <img src="./assets/startquito-blanco.png" alt="StartQuito" class="logo-size1 object-contain">
          </a>
        </div>
        <div class="swiper-slide flex justify-center items-center h-40">
          <a href="https://www.usfq.edu.ec/es">
            <img src="./assets/logousfqblanco.png" alt="USFQ" class="logo-size1 object-contain">
          </a>
        </div>
        <div class="swiper-slide flex justify-center items-center h-40">
          <a href="https://www.startupgrind.com/quito/">
            <img src="https://camaraemprendimiento.ec/assets/orgbn/11.png" alt="Startup Grind" class="logo-size object-contain">
          </a>
        </div>
        <div class="swiper-slide flex justify-center items-center h-40">
          <a href="https://camaraemprendimiento.ec/">
            <img src="./assets/logoblancocej2.png" alt="CEJ" class="logo-size object-contain">
          </a>
        </div>
      </div>
    </div>
</section>

