<!-- Partners Section -->
<section id="sponsors" class="py-10 bg-black flex justify-center">
    <div class="swiper partners-carousel w-full max-w-screen-lg mx-6">
        <div class="swiper-wrapper">
            <!-- Slide 1 -->
            <div class="swiper-slide flex justify-center items-center">
                <a href="#">
                    <img src="./assets/logos-partners/start.jpg" alt="START QUITO" class="logo-size1 object-contain" />
                </a>
            </div>
            <!-- Slide 2 -->
            <div class="swiper-slide flex justify-center items-center">
                <a href="#">
                    <img src="./assets/logos-partners/politecnica.jpg" alt="EPN" class="logo-size1 object-contain" />
                </a>
            </div>
            <!-- Slide 3 -->
            <div class="swiper-slide flex justify-center items-center">
                <a href="#">
                    <img src="./assets/logos-partners/espol.jpg" alt="ESPOL" class="logo-size1 object-contain" />
                </a>
            </div>
            <!-- Repeat Slides for Loop Effect -->
            <div class="swiper-slide flex justify-center items-center">
                <a href="#">
                    <img src="./assets/logos-partners/start.jpg" alt="START QUITO" class="logo-size1 object-contain" />
                </a>
            </div>
            <!-- Slide 2 -->
            <div class="swiper-slide flex justify-center items-center">
                <a href="#">
                    <img src="./assets/logos-partners/politecnica.jpg" alt="EPN" class="logo-size1 object-contain" />
                </a>
            </div>
            <!-- Slide 3 -->
            <div class="swiper-slide flex justify-center items-center">
                <a href="#">
                    <img src="./assets/logos-partners/espol.jpg" alt="ESPOL" class="logo-size1 object-contain" />
                </a>
            </div>
        </div>
    </div>
</section>
