<!-- Page Container -->
<div class="flex items-center justify-center bg-white py-16" id="team">
    <div class="container mx-auto px-6">
        <!-- Section Header -->
        <div class="text-center mb-12 animate-fade-in">
            <h2 class="text-4xl font-bold text-gray-900">¿Quiénes Somos?</h2>
            <p class="text-gray-700 mt-4">
                Un equipo comprometido en construir el futuro a través de la innovación y el liderazgo.
            </p>
        </div>

        <section id="team" class="py-10 flex justify-center">
            <div class="swiper partners-carousel w-full max-w-screen-lg mx-6">
                <div class="swiper-wrapper">
                    <!-- Slide 1 -->
                    <div class="swiper-slide w-full sm:w-6/12 md:w-4/12 lg:w-3/12 px-4">
                        <div class="flex flex-col items-center">
                            <a class="mx-auto">
                                <img
                                    class="rounded-2xl drop-shadow-md hover:drop-shadow-xl transition-all duration-200 delay-100"
                                    src="assets/equipo/majo.jpg"
                                    alt="MARIA JOSÉ"
                                />
                            </a>
                            <div class="text-center mt-6">
                                <h4 class="text-gray-900 text-xl font-bold">MARIA JOSÉ</h4>
                                <p class="text-gray-700 font-light mb-2">President</p>
                            </div>
                        </div>
                    </div>
                    <!-- Slide 2 -->
                    <div class="swiper-slide w-full sm:w-6/12 md:w-4/12 lg:w-3/12 px-4">
                        <div class="flex flex-col items-center">
                            <a class="mx-auto">
                                <img
                                    class="rounded-2xl drop-shadow-md hover:drop-shadow-xl transition-all duration-200 delay-100"
                                    src="assets/equipo/mato.jpg"
                                    alt="MATEO"
                                />
                            </a>
                            <div class="text-center mt-6">
                                <h4 class="text-gray-900 text-xl font-bold">MATEO</h4>
                                <p class="text-gray-700 font-light mb-2">Vice President</p>
                            </div>
                        </div>
                    </div>
                    <!-- Slide 3 -->
                    <div class="swiper-slide w-full sm:w-6/12 md:w-4/12 lg:w-3/12 px-4">
                        <div class="flex flex-col items-center">
                            <a class="mx-auto">
                                <img
                                    class="rounded-2xl drop-shadow-md hover:drop-shadow-xl transition-all duration-200 delay-100"
                                    src="assets/equipo/michelle.jpg"
                                    alt="MICHELLE"
                                />
                            </a>
                            <div class="text-center mt-6">
                                <h4 class="text-gray-900 text-xl font-bold">MICHELLE</h4>
                                <p class="text-gray-700 font-light mb-2">Projects</p>
                            </div>
                        </div>
                    </div>
                    <!-- Slide 4 -->
                    <div class="swiper-slide w-full sm:w-6/12 md:w-4/12 lg:w-3/12 px-4">
                        <div class="flex flex-col items-center">
                            <a class="mx-auto">
                                <img
                                    class="rounded-2xl drop-shadow-md hover:drop-shadow-xl transition-all duration-200 delay-100"
                                    src="assets/equipo/ricardo.jpg"
                                    alt="RICARDO"
                                />
                            </a>
                            <div class="text-center mt-6">
                                <h4 class="text-gray-900 text-xl font-bold">RICARDO</h4>
                                <p class="text-gray-700 font-light mb-2">Projects</p>
                            </div>
                        </div>
                    </div>
                    <!-- Slide 5 -->
                    <div class="swiper-slide w-full sm:w-6/12 md:w-4/12 lg:w-3/12 px-4">
                        <div class="flex flex-col items-center">
                            <a class="mx-auto">
                                <img
                                    class="rounded-2xl drop-shadow-md hover:drop-shadow-xl transition-all duration-200 delay-100"
                                    src="assets/equipo/cami.jpg"
                                    alt="CAMILA"
                                />
                            </a>
                            <div class="text-center mt-6">
                                <h4 class="text-gray-900 text-xl font-bold">CAMILA</h4>
                                <p class="text-gray-700 font-light mb-2">Projects</p>
                            </div>
                        </div>
                    </div>
                    <!-- Slide 6 -->
                    <div class="swiper-slide w-full sm:w-6/12 md:w-4/12 lg:w-3/12 px-4">
                        <div class="flex flex-col items-center">
                            <a class="mx-auto">
                                <img
                                    class="rounded-2xl drop-shadow-md hover:drop-shadow-xl transition-all duration-200 delay-100"
                                    src="assets/equipo/julio.jpg"
                                    alt="JULIO"
                                />
                            </a>
                            <div class="text-center mt-6">
                                <h4 class="text-gray-900 text-xl font-bold">JULIO</h4>
                                <p class="text-gray-700 font-light mb-2">Finance</p>
                            </div>
                        </div>
                    </div>
                    <!-- Slide 7 -->
                    <div class="swiper-slide w-full sm:w-6/12 md:w-4/12 lg:w-3/12 px-4">
                        <div class="flex flex-col items-center">
                            <a class="mx-auto">
                                <img
                                    class="rounded-2xl drop-shadow-md hover:drop-shadow-xl transition-all duration-200 delay-100"
                                    src="assets/equipo/felipe.jpg"
                                    alt="FELIPE"
                                />
                            </a>
                            <div class="text-center mt-6">
                                <h4 class="text-gray-900 text-xl font-bold">FELIPE</h4>
                                <p class="text-gray-700 font-light mb-2">Finance</p>
                            </div>
                        </div>
                    </div>
                    <!-- Slide 8 -->
                    <div class="swiper-slide w-full sm:w-6/12 md:w-4/12 lg:w-3/12 px-4">
                        <div class="flex flex-col items-center">
                            <a class="mx-auto">
                                <img
                                    class="rounded-2xl drop-shadow-md hover:drop-shadow-xl transition-all duration-200 delay-100"
                                    src="assets/equipo/jeronimo.jpg"
                                    alt="JERÓNIMO"
                                />
                            </a>
                            <div class="text-center mt-6">
                                <h4 class="text-gray-900 text-xl font-bold">JERÓNIMO</h4>
                                <p class="text-gray-700 font-light mb-2">Marketing</p>
                            </div>
                        </div>
                    </div>
                    <!-- Slide 9 -->
                    <div class="swiper-slide w-full sm:w-6/12 md:w-4/12 lg:w-3/12 px-4">
                        <div class="flex flex-col items-center">
                            <a class="mx-auto">
                                <img
                                    class="rounded-2xl drop-shadow-md hover:drop-shadow-xl transition-all duration-200 delay-100"
                                    src="assets/equipo/domenika.jpg"
                                    alt="DOMÉNIKA"
                                />
                            </a>
                            <div class="text-center mt-6">
                                <h4 class="text-gray-900 text-xl font-bold">DOMÉNIKA</h4>
                                <p class="text-gray-700 font-light mb-2">Marketing</p>
                            </div>
                        </div>
                    </div>
                    <!-- Slide 10 -->
                    <div class="swiper-slide w-full sm:w-6/12 md:w-4/12 lg:w-3/12 px-4">
                        <div class="flex flex-col items-center">
                            <a class="mx-auto">
                                <img
                                    class="rounded-2xl drop-shadow-md hover:drop-shadow-xl transition-all duration-200 delay-100"
                                    src="assets/equipo/david.jpg"
                                    alt="DAVID"
                                />
                            </a>
                            <div class="text-center mt-6">
                                <h4 class="text-gray-900 text-xl font-bold">DAVID</h4>
                                <p class="text-gray-700 font-light mb-2">Community</p>
                            </div>
                        </div>
                    </div>
                    <!-- Slide 11 -->
                    <div class="swiper-slide w-full sm:w-6/12 md:w-4/12 lg:w-3/12 px-4">
                        <div class="flex flex-col items-center">
                            <a class="mx-auto">
                                <img
                                    class="rounded-2xl drop-shadow-md hover:drop-shadow-xl transition-all duration-200 delay-100"
                                    src="assets/equipo/danilo.jpg"
                                    alt="DANILO"
                                />
                            </a>
                            <div class="text-center mt-6">
                                <h4 class="text-gray-900 text-xl font-bold">DANILO</h4>
                                <p class="text-gray-700 font-light mb-2">IT</p>
                            </div>
                        </div>
                    </div>
                    <!-- Slide 12 -->
                    <div class="swiper-slide w-full sm:w-6/12 md:w-4/12 lg:w-3/12 px-4">
                        <div class="flex flex-col items-center">
                            <a class="mx-auto">
                                <img
                                    class="rounded-2xl drop-shadow-md hover:drop-shadow-xl transition-all duration-200 delay-100"
                                    src="assets/equipo/annthony.jpg"
                                    alt="ANNTHONY"
                                />
                            </a>
                            <div class="text-center mt-6">
                                <h4 class="text-gray-900 text-xl font-bold">ANNTHONY</h4>
                                <p class="text-gray-700 font-light mb-2">IT</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
